.animals-in-dangerous{

}

.animals-in-dangerous-parallax{
  &.sad{
    background: #191919 url("/sad-cat.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &.happy{
    background: #191919 url("/happy-cat.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  width: 50%;
  height: 100%;
  z-index: -2;
}

.animals-in-dangerous-dark-container {
  height: 100vh;
  display: flex;

  > .animal-in-dangers-content {
    background: #191919;
  }

  h2 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
}

.animals-in-dangerous-light-container {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;

  > .animal-in-dangers-content {
    background: #FFFFFF;
  }
}

.animal-in-dangers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 35px;
    }

    p {
      width: 470px;
    }
  }
}