@import "../../colors.scss";

.buy-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 255px;

  h2 {
    margin-bottom: 78px;
  }

  .content-container {
    display: flex;

    h3 {
      margin: 0;
      height: 70px;
      line-height: 35px;
    }

    p {
      margin: 25px 0;
    }

    .payments {
      display: flex;
      margin-bottom: 30px;
      align-items: center;

      > a {
        margin: 0 20px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .remittance {
      margin-right: 60px;

      span {
        display: block;
        margin-bottom: 19px;
      }

      .bank-account {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: $black2;
        margin: 9px 0;
      }
    }

    .buy-ticket {
      .guide {
        display: flex;

        img {
          margin-left: 7px;
        }

        > div {
          display: flex;
          flex-direction: column;

          span {
            margin: 7px 0 7px 20px;

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .price {
        margin-top: 20px;
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
        }
      }
    }
  }

}