#horizontal-scroll-container {
  display: flex;
  align-items: center;
  overflow-x: hidden;

  >* {
    user-drag: none;
    user-select: none;
    filter: brightness(50%);
  }

  .active {
    filter: brightness(100%);
  }
}