.top-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/cat-main-head.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  filter: brightness(90%);
  flex-direction: column;

  .top-grid-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    h1 {
      color: #ffffff;
      width: 450px;
    }

    .socials {
      display: flex;
      flex-direction: column;

      a {
        margin: 8px;
        width: 24px;
        height: 24px;
      }
    }
  }

}

.about-container {
  box-sizing: border-box;
  padding: 180px 0;
  margin: 0 auto;
  height: 100vh;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    height: 80%;

    .text-info {
      display: flex;
      justify-content: space-between;


      > div {
        width: 570px;
      }
    }

    .icons-info-container {
      margin-top: 85px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      > div {
        box-sizing: border-box;
        min-width: 240px;
        height: 330px;
        border: 1px solid #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }

    .link-container {
      display: flex;
      flex-direction: row-reverse;
      margin: 85px 0;

      a {
        display: flex;
        align-items: center;

        span {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          margin: 14px;
        }

        .arrow-square {
          background: #FFD256;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.yellow-scroll{
  height: 100vh;
}