.link-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 85px 0;

  a {
    display: flex;
    align-items: center;

    span {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin: 14px;
    }

    .arrow-square {
      background: #FFD256;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}