@import './colors.scss';

h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 130%;

  text-transform: uppercase;
}

h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;

  color: $black2;
}

h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 140%;
  color: $black2;
  margin: 20px 0;
}

p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin: 8px;

  color: $black1;
}

a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: $black2;
  text-decoration: none;
}