h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 141px;

  text-transform: uppercase;
}

h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  margin: 150px 0;

  color: #282828;
}

h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;

  color: #909090;
  margin: 20px 0;
}

p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 10px 0;

  color: #282828;
}

a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #191919;
  text-decoration: none;
}