.top-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/cat-main-head.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  filter: brightness(90%);
  flex-direction: column;

  .top-grid-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    h1 {
      color: #ffffff;
      width: 450px;
    }

    .socials {
      display: flex;
      flex-direction: column;

      a {
        margin: 8px;
        width: 24px;
        height: 24px;
      }
    }
  }

}
